.main-loading {
    transition: all 5s ease-in;
}

.loading {
    position: relative;
    display: flex;
}

.loading li {
    list-style: none;
}

.loading li label {
    position: relative;
}
  
.loading li span {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 80px;
    width: 80px;
    z-index: 100;
}

.loading li div {
    position: relative;
    height: 80px;
    width: 80px;
    background: #18191f;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 20px;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
        4px 4px 6px rgba(0, 0, 0, 0.2),
        inset -1px -1px 4px rgba(255, 255, 255, 0.05),
        inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.loading li span ~ div {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
        inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    color: #ffdb6e;
    text-shadow: 0 0 15px #ffdb6e, 0 0 25px #ffdb6e;
    animation: glow 1s linear infinite;
}

/*  resume text */
.loading li span#item-0 ~ div {
    animation-delay: .1s;
}
.loading li span#item-1 ~ div {
    animation-delay: .2s;
}
.loading li span#item-2 ~ div {
    animation-delay: .3s;
}
.loading li span#item-3 ~ div {
    animation-delay: .4s;
}
.loading li span#item-4 ~ div {
    animation-delay: .5s;
}
.loading li span#item-5 ~ div {
    animation-delay: .6s;
}

/*  name */
.loading li span#item-6 ~ div {
    animation-delay: .1s;
}
.loading li span#item-7 ~ div {
    animation-delay: .2s;
}
.loading li span#item-8 ~ div {
    animation-delay: .3s;
}
.loading li span#item-9 ~ div {
    animation-delay: .4s;
}
.loading li span#item-10 ~ div {
    animation-delay: .5s;
}
.loading li span#item-11 ~ div {
    animation-delay: .6s;
}
.loading li span#item-12 ~ div {
    animation-delay: .7s;
}
.loading li span#item-13 ~ div {
    animation-delay: .8s;
}
.loading li span#item-14 ~ div {
    animation-delay: .9s;
}
.loading li span#item-15 ~ div {
    animation-delay: .10s;
}

/* fade in delay */
#item-0 {
    animation-delay: 0.1s;
}
#item-1 {
    animation-delay: 0.2s;
}
#item-2 {
    animation-delay: 0.3s;
}
#item-3 {
    animation-delay: 0.4s;
}
#item-4 {
    animation-delay: 0.5s;
}
#item-5 {
    animation-delay: 0.6s;
}
#item-6 {
    animation-delay: 0.7s;
}
#item-7 {
    animation-delay: 0.8s;
}
#item-8 {
    animation-delay: 0.9s;
}
#item-9 {
    animation-delay: 1s;
}

@keyframes glow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@media screen and (max-width: 992px) {
    .loading li div {
        height: 50px;
        width: 50px;
        font-size: 36px;
        margin: 0 4px;
        border-radius: 15px;
    }
    
}

