.aa {
  border: solid 1px red;
}

.profile__box {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 1rem;
  border-radius: 12px;
  margin: 0.5rem;
  width: calc(33.333% - 20px);
}

.profile__box img {
  border-radius: 12px;
}

.profile__box:hover {
  background: #2a2a2b;
  border-radius: 12px;
}

.profile__box span {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

@media only screen and (max-width: 470px) {
  .profile__box {
    width: calc(100% - 20px) !important;
  }
}

@media only screen and (max-width: 780px) {
  .profile__box {
    width: calc(50% - 20px);
  }
}


