.box__item {
  padding: 4rem 0;
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.sidebar {
  padding: 3rem 1.5rem;
}

.content {
  padding: 3rem 1.5rem;
  position: relative;
}

.box-outer {
  border: solid 1px #383838;
  background-color: #1e1e1f;
  border-radius: 20px;
}

.sticky-column {
  margin-top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.avatar__box {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
}

.avatar__box img {
  /* width: 100%; */
  border-radius: 20px;
}

.sidebar .name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
}

.badge {
  background: #2a2a2b;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 8px;
  padding: 1rem 2rem;
}

.sidebar ul .separation {
  background: #383838;
  margin: 2rem 0;
  height: 1px;
  width: 100%;
}

.sidebar ul {
  height: auto;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0.5rem;
  /* transition: all 03s ease-in-out; */
  /* transition: height 0.3s ease-out, opacity 0.3s ease 0.5s; */
}

.sidebar ul li {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar ul li .icon__box {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.25);
  font-size: 1.1rem;
  width: 2.85rem;
  height: 2.85rem;
  border-radius: 12px;
  background: linear-gradient(135deg, #404040 0%, rgba(64, 64, 64, 0) 48.44%);
  color: #ffdb6e;
  margin-right: 1.5rem;
}

.sidebar ul li .info__box {
  display: flex;
  flex-direction: column;
}

.sidebar ul li .info__box span {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #d6d6d6;
}

.sidebar ul li .info__box a {
  font-size: 0.85rem;
  color: #fff;
  white-space: nowrap;
}

.sidebar ul .social__media i {
  font-size: 1.35rem;
  color: #fcfcfc;
  cursor: pointer;
  opacity: 0.6;
  margin: 0 0.8rem;
}

.sidebar ul .social__media i:hover {
  color: #fff;
  font-weight: bold;
  opacity: 1;
}

.nav-resume {
  background: #2a2a2b;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0 20px 0 20px;
  border: solid 1px #383838;
  position: absolute;
  top: 0;
  right: 0;
  height: 4rem;
  padding: 0 2rem;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.nav-resume ul {
  margin-top: 1rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  list-style: none;
  overflow: hidden;
  padding: 0;
}

.nav-resume li {
  margin: 0 0.8rem;
  font-size: 1rem;
  font-weight: 500;
}

.nav-resume li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav-resume li a:hover {
  color: #ffdb6e;
}

.active {
  color: #ffdb6e !important;
}


@media screen and (max-width: 1200px) {
  .content {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 476px) {
  .box__item {
    padding: 1rem 2rem;
  }
  .nav-resume li {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-resume {
    backdrop-filter: blur(6px);
    background: rgba(43, 43, 44, 0.75);
    height: 5rem;
    position: fixed;
    bottom: 10px;
    top: auto;
    left: 10%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0;
    width: 80%;
  }
  .sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0.5rem;
  }
  .sidebar ul {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    /* display: none; */
  }

  .sidebar ul.show {
    max-height: 400px;
    transition: max-height 0.25s ease-in;
  }
  .sidebar {
    padding-bottom: 1rem !important;
  }
}
