.icon__skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75rem 1rem;
    position: relative;
  }
  
  .icon__skill i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
    line-height: 1;
    box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.25);
    font-size: 1.1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 12px;
    background: linear-gradient(135deg, #404040 0%, rgba(64, 64, 64, 0) 48.44%);
    cursor: pointer;
  }
  
  .icon__skill span {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: #2a2a2b;
    color: #fff;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    white-space: nowrap;
  }
  
  .icon__skill span:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #2a2a2b;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .icon__skill:hover span {
    bottom: -41px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .react {
    color: #61dbfb;
  }
  
  .mongoDB {
    color: #4db33d;
  }
  
  .mysql {
    color: #00758f;
  }
  
  .nodejs {
    color: #68a063;
  }
  
  .redux {
    color: #764abc;
  }
  
  .bootstrap {
    color: #563d7c;
  }
  