* {
  box-sizing: border-box;
}

body,
html {
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: #000;
  line-height: 1.65;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

:root {
  /* ### Body color ### */
  --body-color-black: #000;
  --body-color-white: #fff;
  ---background-second: #2a2a2b;
  --main-color: #ffdb6e;
}

::selection {
  color: #ffdb6e;
}
